[**/build/generated/**]
ktlint = disabled

[**/build/buildkonfig/**]
ktlint = disabled

[**/_Template**]
ktlint = disabled

[*.{kt,kts}]

max_line_length = 140
indent_style = space
indent_size = 4

insert_final_newline = true
trim_trailing_whitespace = true

ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

continuation_indent_size = 4
